:root{
    --VDGblue: hsl(217, 19%, 35%);
    --DDblue: hsl(214, 17%, 51%);
    --Gblue: hsl(212, 23%, 69%);
    --LGblue: hsl(210, 46%, 95%);
}

body{
    background-color: var(--LGblue);
}

#main{
    display: flex;
    flex-direction: row;
    width: 50%;
    border-radius: 15px;
}

#main-img{
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#user{
    display: flex;
    flex-direction: row;
}
